@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar untuk area editor */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(58, 75, 64, 0.1);
  border-radius: 20px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(58, 75, 64, 0.3);
}

#qr-reader {
  border: none !important;
}

#qr-reader button {
  background-color: #3A4B40 !important;
  color: white !important;
  padding: 8px 16px !important;
  border-radius: 8px !important;
  border: none !important;
  font-size: 14px !important;
  cursor: pointer !important;
  margin-top: 10px !important;
  /* 3 BARIS INI KUNCI BIAR BISA DIKLIK DI HP */
  pointer-events: auto !important;
  position: relative !important;
  z-index: 100 !important;
}

/* WAJIB DITAMBAH: Buat ngebenerin dropdown pilih kamera depan/belakang */
#qr-reader select {
  padding: 8px 12px !important;
  border: 1px solid #d1d5db !important;
  border-radius: 8px !important;
  margin-bottom: 12px !important;
  font-size: 14px !important;
  width: 100% !important;
  max-width: 300px !important;
  pointer-events: auto !important;
  position: relative !important;
  z-index: 100 !important;
}

#qr-reader__dashboard_section_csr span {
  color: red !important;
}

/* Sembunyikan link 'Request Camera Permissions' bawaan yang suka tumpang tindih */
#html5-qrcode-anchor-scan-type-change {
  display: none !important;
}